.mantine-tlnh01 {
    background-color: rgb(52 51 56);
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.card {
    height: 400px;
    width: 300px;
    background-color: #fdfeff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #8c8b90;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 10px;
}
.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: all;
    transition-duration: 300ms;
}

.card:hover > .profile-picture {
    margin-top: 30px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
}

.info-container {
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 100ms;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

.card:hover > .info-container {
    flex:1;
}

.name {
    margin-top: 30px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.subtitle {
    margin-top: 5px;
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-size: 20px;
}

.description {
    margin-top: 17px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Open Sans Condensed';
    text-align: center;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.02em;
}
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
 }
.uList {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-top: 15px;
}
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}
.logo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
